<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  <li class="nav-item dropdown d-flex gap-2" id="sobre-nos">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Opções de conta </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="/me/update">Alterar informações</a></li>
      <li><a class="dropdown-item" href="/me/my_ads">Meus anúncios</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="/me/logoff">Sair</a></li>
    </ul>
  </li>
</ul>
