<footer id="footer" style="margin-top: 50px !important;" class="fixed-bottom mt-5 greem-bg-color">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-between py-3">
          <span>Todos os direitos reservados &copy;</span>
          <span>RECCON 2022</span>
        </div>
      </div>
    </div>
  </div>
</footer>
