<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">
    <!--css do projeto-->
    <link rel="stylesheet" href="css/doacao.css">
    <!--Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Doação</title>
</head>
<body class="primary-bg-color">

    <!--NavBar do projeto RECCON-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-1 px-1 greem-bg-color">
      <div class="container img-left">
        <a class="navbar-brand" href="./indexPrimary.ejs"><img src="/public/assets/app_icon.png" alt=""></a>
        <a class="navbar-brand" href="./indexPrimary.ejs"><img src="/public/assets/app_name.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
            <li class="nav-item dropdown d-flex gap-2" id="sobre-nos">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Opções de conta
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="./optUser.ejs">Alterar informções</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sair</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <a href="./doacao.ejs"><button type="button" class="btn btn-primary btn-lg secundary-bg-color">Publicar</button></a>
          </form>
        </div>
      </div>
    </nav>

      <!--Formulario de Cadastro-->
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                <div class="fff-bg-color">
                    
                    <form action="/forms/create_ad" class="d-flex flex-column align-items-center formulario text-center radius">
                        <h2>Oque você está doando?</h2>
                    <div class="form-group py-4 px-4">
                        <input type="text" name="nome" id="nome" placeholder="Oque você esta doando" required></input>
                        <textarea name="" id="" cols="30" rows="5" placeholder="Descreva seu anuncio em detalhes(Max 200 Caracteries)"></textarea>
                             <div class="select">
                                 <select name="Bairro" id="Bairro" required>
                                     <option value="" disabled selected="selected"> Selecione o Bairro de Coleta</option>
                                     <option value="1">Zumbi</option>
                                     <option value="2">Aleixo</option>
                                     <option value="3">Colonia</option>
                                     <option value="4">Paque Dez</option>
                                 </select>

                                 <div class="fotos">
                                    <a class="navbar-brand" href="#"><img src="/public/assets/icon.svg" alt=""></a>
                                    <a class="navbar-brand" href="#"><img src="/public/assets/text.svg" alt=""></a>
                                 </div>
                             </div>
                             <div class="btn-enviar align-self-start">
                                <button type="submit" id="btn" class="btn btn-primary btn-sm secundary-bg-color">Enviar Anuncio</button>
                            </div>
                     </div>
                    </form>
                </div>
              </div>
            </div>
        </div>

              

      <!--Footer do projeto-->
      <footer id="footer" class="fixed-bottom greem-bg-color">
        <div class="container-fluid ">
          <div class="container">
          <div class="row">
            <div class="col-md-12 d-flex justify-content-between py-3">
              <span>Todos os direitos reservados &copy;</span>
              <span>RECCON 2022</span>
            </div>
          </div>
        </div>
        </div>
      </footer>



      
    <!--Bootstrap Javascript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous"></script>
</body>
</html>