<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">
    <!--css do projeto-->
    <link rel="stylesheet" href="/css/forms.css" type="text/css">
    <!--Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Login</title>
</head>
<body class="primary-bg-color">

    <!--NavBar do projeto RECCON-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-1 px-1 greem-bg-color">
        <div class="container img-left">
          <a class="navbar-brand" href="/"><img src="/assets/app_icon.png" alt=""></a>
          <a class="navbar-brand" href="/"><img src="/assets/app_name.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
              <li class="nav-item dropdown d-flex gap-2" id="sobre-nos">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Sobre Nos
                </a>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Sobre o projeto
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <p class="text-md-start">Tenatando ganhar nossos 5 pontos</p>
                </ul>
              </li>
            </ul>
            <form class="d-flex">
              <a href="/form/register"><button type="button" class="btn btn-primary btn-lg secundary-bg-color">Login/Cadastro</button></a>
            </form>
          </div>
        </div>
      </nav>
      <% if (locals.message) { %>
      <div class="alert alert-<%=locals.message.class %>" role="alert">
        <%=message.text; %>
      </div>
      <% } %>

      <!--Formulario de Cadastro-->
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                <div class="fff-bg-color">
                    <form method="POST" action="/forms/register" class="d-flex justify-content-center formulario radius">
                    <div class="form-group py-4 px-4">
                      <!--input do formulario-->
                        <input type="text" name="name" id="name" placeholder="Digite seu Nome Completo" required></input>
                        <input type="email" name="email" id="email" placeholder="Digite seu Email" required>
                        <input type="password" name="password" id="password" placeholder="Digite sua Senha" required>
                        <input type="Password" name="password_confirm" id="password_confirm" placeholder="Confirme sua Senha" required>
                        <input type="tel" name="phone" id="phone" placeholder="(XX) XXXXX-XXXX" required>
                        <div class="eye-pass ">
                            <button type="button" id="btn" class="btn btn-primary btn-sm secundary-bg-color"></button>
                            <label for="mostrarSenha"> Mostrar Senha</label>
                        </div>

                        <select name="address" id="Bairro" required>
                            <option value="" disabled selected="selected"> Selecione Seu Bairro</option>
                            <% for(let i = 0; i < address.length; i++) { %>
                              <option value=<%=address[i].dataValues.id%>><%= address[i].dataValues.name %></option>
                            <% } %>
                        </select>

                        <input type="submit" class="btn btn-primary btn-lg secundary-bg-color" value="Criar uma conta">
                    </div>
                    </form>
                </div>
              </div>

              <!--Fazer Login-->
              <div class="col-md-6">
                <div class="fff-bg-color">
                    <form method="post" action="/forms/login" class="d-flex justify-content-center formulario radius">
                    <div class="form-group py-4 px-4">
                        <input type="email" name="email" id="email" placeholder="Digite Seu Email" required>
                        <input type="password" name="password" id="password" placeholder="Digite sua Senha" required>
                        <div class="eye-pass ">
                            <button type="button" id="btnLogin" class="btn btn-primary btn-sm secundary-bg-color"></button>
                            <label for="mostrarSenha"> Mostrar Senha</label>
                        </div>

                        <input type="submit" class="btn btn-primary btn-lg secundary-bg-color" value="Fazer login">
                    </div>
                    </form>
                </div>
              </div>
          </div>
      </div>

      <!--Footer do projeto-->
      <footer id="footer" class="fixed-bottom greem-bg-color">
        <div class="container-fluid">
          <div class="container">
          <div class="row">
            <div class="col-md-12 d-flex justify-content-between py-3">
              <span>Todos os direitos reservados &copy;</span>
              <span>RECCON 2022</span>
            </div>
          </div>
        </div>
        </div>
      </footer>



      <!--script do mostrar senha-->
      <script src="/js/mostrarSenhaForm.js"></script>
      <script src="/js/mostrarSenhaLogin.js"></script>
    <!--Bootstrap Javascript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>
</html>