<!DOCTYPE html>
<html lang="en">
  <head>
    <title><\ APPNAME \></title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/index.css" />
  </head>

  <body>
    <nav class="nav bg-dark w-100 flex justify-content-between p-3 text-light">
      <div class="navbar-brand"><\ APPNAME \></div>
      <ul class="flex flex-row gap-4 navbar-nav">
        <li class="nav-item btn btn-dark border-1 border-light rounded-2" data-bs-toggle="modal" data-bs-target="#loginModal">Login</li>
        <li class="nav-item btn btn-dark border-1 border-light rounded-2" data-bs-toggle="modal" data-bs-target="#registerModal">Registrar-se</li>
      </ul>
    </nav>

    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Formulario de login</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="forms/login" method="POST" class="d-flex flex-column align-items-center gap-3">
              <input class="border-0 border-bottom border-dark w-50 text-dark" name="emaillog" type="text" placeholder="Digite aqui seu email" />
              <input class="border-0 border-bottom border-dark w-50 text-dark" name="passlog" type="password" placeholder="Digite aqui sua senha" id="pass-log" />
              <div><input type="checkbox" id="showPassLog" data-target="pass-log" onclick="showPassword(this, this.dataset.target)" class="showpass" /> <span>Mostrar senha</span></div>
              <input type="submit" class="w-50 btn btn-dark" value="Fazer login" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Register Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Formulario de registro</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="forms/register" method="POST" class="d-flex flex-column align-items-center gap-3">
              <input class="border-0 border-bottom border-dark w-50 text-dark" name="emailreg" type="text" placeholder="Digite aqui seu email" />
              <input class="border-0 border-bottom border-dark w-50 text-dark" name="passreg" id="pass-reg" type="password" placeholder="Digite aqui sua senha" />
              <input class="border-0 border-bottom border-dark w-50 text-dark" name="passconfreg" id="pass-conf-reg" type="password" placeholder="Confirme aqui sua senha" />
              <div><input type="checkbox" id="showPassLog" data-target="pass-reg" onclick="showPassword(this, this.dataset.target)" class="showpass" /> <span>Mostrar senha</span></div>
              <input type="submit" class="w-50 btn btn-dark" value="Fazer registro" />
            </form>
          </div>
        </div>
      </div>
    </div>

    <main>
      <h1 class="text-center mt-5">TEXTO PLACEHOLDER, DESCRIÇÃO DO APP, TALVEZ COMPONENTE CAROUSEL?</h1>
    </main>
    <footer class="fixed-bottom bg-dark w-100 d-flex justify-content-between p-3 text-light">
      <p class="m-0">Todos os direitos reservados ©</p>
      <p class="m-0">LINKS UTEIS AQUI?!</p>
      <p class="m-0"><\ APPNAME \>, 2022</p>
    </footer>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
  </body>
</html>
