@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");

* {
  font-family: "Jockey One", sans-serif;
}

/*paleta de cores do projeto*/
.primary-bg-color {
  background-color: #f5ffee !important;
}

.secundary-bg-color {
  background-color: #5b3690 !important;
}

.greem-bg-color {
  background-color: #1fec8c !important;
}

.last-bg-color {
  background-color: #e28413 !important;
}

.fff-bg-color {
  background-color: #fff;
  border-radius: 20px;
}
/*paleta de cores do projeto*/

.modall{
  width: 300px;

}

.modal-contentt{
  width: 300px;
}

.list-group-item{
    background-color: #1fec8c !important;
}

.itms-modal a{
  text-decoration: none;
  color: #5b3690;
}

.h-navbar{
  height: 10vh;
}

.images{
  height: 100%;
  width: 30%;
}

.images img{
  width: 80px;
}

@media only screen and (max-width: 600px) {
  .images {
    display: flex;
    align-items: center;
  }

  .h-navbar{
    height: 10%;
    display: flex;
  }
}

/* estilizando o formulario*/

.formulario {
  margin-top: 100px;
  height: 500px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 20rem;
}

.eye-pass input {
  width: 20px !important;
  accent-color: #1fec8c;
}

.form-group input,
select {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  outline: none;
}

.form-group button {
  width: 70%;
  margin: auto;
}

/*Classe padrao para sombra*/
.radius {
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

@media only screen and (max-width: 766px) {

  .image-mobile{
    display: none;
  }
}