@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");

* {
  font-family: "Jockey One", sans-serif;
}

/*paleta de cores do projeto*/
.primary-bg-color {
  background-color: #f5ffee !important;
}

.secundary-bg-color {
  background-color: #5b3690 !important;
}

.greem-bg-color {
  background-color: #1fec8c !important;
}

.last-bg-color {
  background-color: #e28413 !important;
}

.modall{
  width: 300px;

}

.modal-contentt{
  width: 300px;
}

.list-group-item{
    background-color: #1fec8c !important;
}

.itms-modal a{
  text-decoration: none;
  color: #5b3690;
}

.fff-bg-color {
  background-color: #fff;
  border-radius: 20px;
}
/*paleta de cores do projeto*/

.h-navbar {
  height: 10vh;
}

.images {
  height: 100%;
  width: 30%;
}
.overflow{
    height: 400px;
    overflow-x: auto;
}

.images img {
  width: 80px;
}

.card img {
  width: 100%;
  height: 50%;
}

@media only screen and (max-width: 600px) {
  .images {
    display: flex;
    align-items: center;
  }

  .h-navbar {
    height: 10%;
    display: flex;
  }
}

/* estilizando o formulario*/

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.eye-pass button {
  width: 20px !important;
}

.form-group input,
select {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  outline: none;
}

.editar button,
.editar i,
.editar a {
  text-decoration: none;
  color: #1fec8c !important;
  padding: 2px;
}

.editar a:hover {
  text-decoration: underline;
}

.radius {
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.overflow {
  height: 500px;
  overflow-x: auto;
}

::-webkit-scrollbar {
  background-color: #a06de7;
  width: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #5b3690;
  border-radius: 5px;
}

@media only screen and (max-width: 766px) {

    .image-mobile{
      display: none;
    }
}